table {
    border-collapse: collapse;
    border: 1px solid black;
  }
  
 tr,td{
     text-align: center;
     border: 1px solid black;
    
 }
.yoga{
    background-color:  #009bcc;
    color:white;
    border:solid 1px;
    height: 100px;
    width: 120px;
    font-family: 'Arima Madurai', cursive;
    text-align: center;
    border: 1px solid black;
}
.gray{
    background-color: lightgrey;
    border:solid 1px;
    height: 100px;
    width: 120px;
    font-family: 'Arima Madurai', cursive;
    text-align: center;
}

.biking{
    background-color: #96c21f;
    color:white;
    border:solid 1px;
    height: 100px;
    width: 120px;
    font-family: 'Arima Madurai', cursive;
    text-align: center;
    border: 1px solid black;
}
.stretching{
    background-color:#11bcaf ;
    color:white;
    border:solid 1px;
    height: 100px;
    width: 120px;
    font-family: 'Arima Madurai', cursive;
    text-align: center;
    border: 1px solid black;
}
.boxe{
    background-color:#d9006b ;
    color:white;
    border:solid 1px;
    height: 100px;
    width: 120px;
    font-family: 'Arima Madurai', cursive;
    text-align: center;
    border: 1px solid black;
}
.self-defense{
    background-color: #e65686;
    color:white;
    border:solid 1px;
    height: 100px;
    width: 120px;
    font-family: 'Arima Madurai', cursive;
    text-align: center;
    border: 1px solid black;
}
.cardio{
    background-color:  #7459ad;
    color:white; 
    height: 100px;
    width: 120px;
    font-family: 'Arima Madurai', cursive;
    text-align: center;
    border: 1px solid black;
}
.crossfit{
    border-color:black;
    background-color: orange;
    color:white; 
    border:solid 1px;
    height: 100px;
    width: 120px;
    font-family: 'Arima Madurai', cursive;
    text-align: center;
    border: 1px solid black;
}
.img{
    background-image: url("stripes.png");
    border:solid 1px;
    
}

div{
    width:120px; 
    height: 50px;

}

.dim{
    width:120px; 
    height: 50px;

    background-color: lightgrey;
    border:solid 1px;
    font-family: 'Arima Madurai', cursive;
    text-align: center;
}